<div class="wrapper bg-white m-sm-5">
    <h2 class="pb-2 border-bottom"> Profil</h2>
   
    <form action="/post-profile" method="post" enctype="multipart/form-data">
        <% if (locals.validation_error != undefined ) { %>
            <%- include('./partials/_message') %> 
            <% } %>
    <div class="d-flex align-items-start py-3 border-bottom "> 
       
        <div class="pl-sm-4 pl-2 m-sm-5" id="img-section">   <b>Profile Photo</b>
            <img src="<%- user.avatar  %>" alt="">
            <p>Accepted file type .png. Less than 1MB</p> 
            <input  name="avatar" type="file" class="btn button border"></input>
        </div>
        <div class="py-2">
            <div class="row py-2">
                <div class="col-md-6"> <label for="full_name">Adınız ve Soyadınız</label> 
                    <input type="text" name="full_name" class="bg-light form-control" 
                    value="<%- user.full_name  %>" placeholder="Steve"> 
                </div>
                <div class="col-md-6 pt-md-0 pt-3"> <label for="username">Kullanıcı Adınız</label> 
                    <input type="text" name="username" class="bg-light form-control" 
                    value="<%- user.username  %>" placeholder="Smith"> 
                </div>
            </div>
            <div class="row py-2">
                <div class="col-md-6"> <label for="email">Email</label> 
                    <input type="text" name="email" readonly class="bg-light form-control" 
                    value="<%- user.email  %>" placeholder="steve_@email.com"> 
                </div>
            <div class="py-3 pb-4 border-bottom"> 
                <button type="submit" class="btn btn-primary mr-3">Profili Guncelle</button> 
                <button class="btn border button">Cancel</button> 
            </div>
    </div>
   
    </form>
        
</div>