

<div class="section">
    <div class="section-inner _iner"> 
      
        <form class="login-form" method="post" action="/new_password-post">
          <p class="login-text">
            <span class="fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-lock fa-stack-1x"></i>
            </span>
          </p>
          <% if (locals.validation_error != undefined ) { %>
            <%- include('./partials/_message') %> 
            <% } %>
          <h3 class="myTitle">Yeni şifre</h3>
          <p class="myTitle2"> Lütfen yeni şifrenizi oluşturun</p>
          
          <input type="hidden" name="id" value="<%- typeof id != 'undefined' ?  id :  '' %>"/>
          <input type="hidden" name="token" value="<%- typeof token != 'undefined' ?  token :  '' %>"/>

          <input type="password" class="login-input" name="password" autofocus="true" required="true" placeholder="Şifre"
          value="<%- typeof olds[0] != 'undefined' ?  olds[0].password :  '' %>"/>

          <input type="password" class="login-input" name="repassword" autofocus="true" required="true" placeholder="Şifre tekrar"
          value="<%- typeof olds[0] != 'undefined' ?  olds[0].repassword :  '' %>"/>
          <input type="submit" name="forget_password_post" value="Onayla" class="login-submit" />
        </form>
        <div class="underlay-photo"></div>
        <div class="underlay-black"></div>
      </div>
    </div>
    